.formbutton{
    background-color: #d14600;
    border: none;
    padding: .5rem 2rem .5rem 2rem ;
    border-radius:2rem;
    text-align: center;
    font-weight: 600; 
    color:white;

}
.text{
    color: #d14600;
}
.text:hover{
    cursor:default;
}
.formbutton:hover{
    text-shadow: white 0px 0px 20px;
}