.Header_Container{
    height: 100vh auto;
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1599669454699-248893623440?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
    background-position: center;
    background-position-y: 1px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 15rem;
    color: white;
    margin-bottom: 5rem;

}

.Header_heading{
    font-size: 5rem;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    z-index: 999;margin-bottom: -2rem;
    text-align: center;
    text-shadow: black 3px 1px 1px ;
   
}
.Heading_Text{
    text-align: center;
    text-shadow: black 3px 1px 1px ;
    width: 50%;
   
}
.Heading_Button {
    background-color: darkorange;
    border: none;
    padding: .5rem 3rem .5rem 3rem ;
    border-radius:2rem;
    text-align: center;
    font-weight: 600; 

}
.Content_Heading{
font-size: 2rem;
margin: 3rem 1rem 1rem 1rem ;
font-weight: 550;
}

div::-webkit-scrollbar {
    width: 0px; /* remove scrollbar space /
    background: transparent; / optional: just make scrollbar invisible /
    }
    / optional: show position indicator in red */
    scroll-behavior: smooth;
}

.content_slab{
background-color: black;
text-align: center;
 height: 300px;
 color:white;
}


.Iconname{
   font-size: 1rem;
   font-family:monospace;
   

}
.Hover{}
.Hover:hover{
    color: darkorange;
    cursor: context-menu;
}
 


/* About us  */

.Header_background{
    height: 100vh;
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1502239608882-93b729c6af43?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80");
    background-position: center;
    background-position-y: 1px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 15rem;
    color: white;
    margin-bottom: 5rem;
    clip-path: polygon(50% 100%, 0 0, 100% 0);
}

:hover{
    cursor:default;
}

.aboutHover:hover{
   font-size: 1rem;
}